<h1>Ranking de Gastos</h1>

<% if @deputies_array.any? %>
	<table class="table table-dark table-striped table-hover">
		<thead>
			<th>
				Nome
			</th>
			<th>
				Gasto Total
			</th>
			<th class="text-center">
				Posição
			</th>
		</thead>
		<tbody>
			<% @deputies_array.each do |deputy| %>
				<tr>
					<td>
						<%= link_to deputy[:name], deputies_show_path(deputy[:id]) %>
					</td>
					<td>
						<%= to_real deputy[:total_spent] %>
					</td>
					<td class="text-center">
						<%= @position %>
            <% @position +=1 %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	NENHUM DEPUTADO NA BASE DE DADOS
<% end %>